@media(max-width : 780px){
    #form-wrapper {
       margin : 15px 0px;
    }
    footer .row .flexy-cen {
        justify-content: flex-start;
    }
    footer {
        color : white;
        font-weight: 500;
        font-size: 120%;
    }
    footer h5 {
        font-size: 32px !important;
        margin: 15px 0px !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    h3 {
        text-align: left !important;
    }
    .abt-cards {
        padding : 4% 0px;
    }
    .abt-cards .card {
        margin : 8px;
    }
    .staff {
        width : 300px;
    }
    .staff img {
        height: auto !important;
        width: 100%;
    }
    #about-carousel aside {
        max-width: 100%;
        text-align: center;
    }
    
    header nav {
        flex-direction: column;
        align-items: flex-end;
    }
    header nav ul {
        width: 780px!important;
        margin-top : 10px;
    }
     header nav img {
        margin: 5px auto;
     }
    #why-choose div div {
        display :flex;
        justify-content: center;
        text-align: center;
    }
    #why-choose div div img {
        width :300px;
        border-bottom: 5px solid goldenrod;
        border-radius: 15px;
    }
    #why-choose h2 {
        text-align: center !important;
        font-size: 42px;
        margin: 15px auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #why-choose a {
        margin :  5px auto;
    }
    #recent-events .circle {
        padding-bottom: 3%;
        border-bottom: 8px  solid goldenrod;
    }
    #announcement .flexy-col {
        text-align: center !important;
        align-items: center;
    }
    #announcement {
        padding : 3%  0px;
    }
    #announcement h5 {
        margin : 20px auto;
    }
    #map iframe, 
    #map aside {
        width : 100%;
        height : 100vh;
    }
}


@media(max-width : 600px){
    header nav {
        flex-direction: row;
        justify-content: space-between !important;
    }
    header nav ul {
        display: none;
        width : 100% !important;
        flex-direction: column;
    }
    #hamburger {
        display: flex;
    }
    nav img {
        margin: 0px 5px!important;
        z-index: 300;
    }
    #funct-modal article {
        width : 500px;
    }
    #uniform .both div {
        align-items: center;
        justify-content: center;
    }
    #sport-activity img {
        height: 205px;
        width: 100%;
    }
    
}
@media(max-width : 500px){
    #funct-modal article {
        width :380px;
    }
    /* #adress-form article aside div {
        flex-direction: column !important;
        text-align: center !important;
        align-items: center !important;
    } */
    #adress-form aside .flexy-cen img {
        width: 61px;
    }
}

@media(max-width : 400px){
    .carousel-indicators {
        min-width: 100% !important;
        margin-left: 0px !important;
    }
    .carousel-indicators button {
        margin: 0px !important;
        height: 30px !important;
        width: 30px !important;
    }
    #home-carousel .carousel-indicators {
        transform: translateX(0px);
    }
    #funct-modal article {
        width : 98%;
    }
    #funct-modal article h3 {
        text-align: center !important;
        width: 100%;
    }
    #admission-porcess aside {
        flex-direction: column;
    }
    #contact-icons article p {
        font-size: 20px;
        font-weight: 500;
    }
    #contact-mission p {
        font-size: 20px;
    }
    #hero-comp h2 {
        font-size: 3rem;
    }
}